<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confessions | <%= title %></title>
    <link rel="stylesheet" href="/style.css"> 
    <!-- this above thing will not work as our server protect such files from being seeing on net -->
</head>