<nav>
    <div class="site-title">
        <a href="/" >Confessions</a>
        <p>A Confession revealing site</p>

    </div>
    <ul>
        <li><a href="/">Old Confessions</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/confessions/create">Want to write a new Confession?</a></li>
    </ul>
</nav>